<suite name="AutomationSuite" parallel="tests" thread-count="2">
  <test name="Chrome Headless Test">
    <parameter name="browser" value="chrome"/>
    <parameter name="mode" value="headless"/>
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test>
  <test name="Chrome Normal Test">
    <parameter name="browser" value="chrome"/>
    <parameter name="mode" value="normal"/>
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test>
</suite>
